---
import Hero from "../components/Hero.jsx";
//import Apps from "../components/Apps.jsx";
import "../styles/global.css";
---

<html lang="en">
  <body>
    <main class="container">
      <Hero />
      <!-- <Apps /> -->
    </main>
  </body>
</html>