---
import "../../../styles/global.css";
---

<html lang="en">

<head>
  <title>LaunchTrack - About</title>
</head>

<body>

<main class="container">

<section class="app-page">

<h1>LaunchTrack</h1>

<p class="description">
  Follow upcoming space missions, launch dates,
  and important mission details from your iPhone.
</p>


<div class="screenshots">

  <img src="/placeholder-phone.png" alt="LaunchTrack screenshot" />
  <img src="/placeholder-phone.png" alt="LaunchTrack screenshot" />
  <img src="/placeholder-phone.png" alt="LaunchTrack screenshot" />

</div>


<h2>Features</h2>

<ul>
  <li>Upcoming rocket launches</li>
  <li>Mission details</li>
  <li>Launch information in one place</li>
</ul>


</section>

</main>

</body>

</html>